<h1> Component </h1>

<p>
  A component controls a patch of screen called a view.
</p>
<p>
  You define a component's application logic—what it does to support the view—inside a class. The class interacts with
  the view through an API of properties and methods.
</p>


<h2>metadata</h2>
<p>The @Component decorator identifies the class immediately below it as a component class, and specifies its
  metadata. </p>

<h2>Syntax</h2>

<section class="code">
  <article>
    <code appHighlight [code]="componentCode" title="Component" [expanded]="true"></code>
  </article>

  <article>
    <code appHighlight [code]="templateCall" title="template" language="html" [expanded]="true"></code>
  </article>
</section>
