<h1>Binding</h1>

<h2> Interpolation </h2>
<!--
One-way
from view target
to data source
-->
<button (click)="toggleTitle()">Toggle title</button>
<!--
One-way
from data source
to view target
-->
<h3>{{ title }}</h3>
<h3 title="{{ title }}">{{ title }}</h3>
<h3 [title]="title">{{ title }}</h3>

<h2> Class </h2>
<div class="{{ className }}">
  classed div {{ className }}
</div>
<div [class]="className">
  classed div {{ className }}
</div>
<div [ngClass]="[className]">
  classed div {{ className }}
</div>
<div [ngClass]="className">
  classed div {{ className }}
</div>
<div [ngClass]="{block: true}">
  classed div {{ className }}
</div>


<h2> Style </h2>
<button (click)="toggleColor()">Toggle Color</button>
<!-- wrong syntaxe-->
<div style="background-color: {{ color }}">
  WRONG Colored div {{ color }}
</div>

<!-- good syntax -->
<div [style.backgroundColor]="color">
  Colored div {{ color }}
</div>

<div [ngStyle]="{backgroundColor: color}">
  Colored div {{ color }}
</div>

<div [ngStyle]="{backgroundColor: color}">
  Colored div {{ color }}
</div>

<div [ngStyle]="{'background-color': color}">
  Colored div {{ color }}
</div>


<h3>Pipes</h3>
<ul>
  <li>DatePipe: {{ data.date | date}}</li>
  <li>UpperCasePipe: {{ data.text | uppercase}}</li>
  <li>LowerCasePipe: {{ data.text | lowercase}}</li>
  <li>CurrencyPipe: {{ data.amount | currency}}</li>
  <li>PercentPipe: {{ data.progress | percent }}</li>
</ul>
