<h1>Directives</h1>

<h2>basic</h2>
<section class="code">
  <article>
    <code appHighlight [code]="directiveBasicCode" title="appHighlightBasic"></code>
  </article>
    <div appHighlightBasic color="red">Hello</div>
  <article>
  </article>
</section>


<h2>Advanced</h2>
<section class="code">
  <article>
    <code appHighlight [code]="directiveAdvancedCode" title="appHighlight"></code>
  </article>

  <article>
    <code appHighlight [code]="templateCall" title="template" language="html"></code>
  </article>
</section>
