/* You can add global styles to this file, and also import other style files */

input.ng-valid {
  background: #AFA;
}
input.ng-invalid {
  background: #FAA;
}
body, html {
  padding: 0;
  margin: 0;
}

main {
  padding: 10px;
}

nav {
  background: #EEE;
  border-bottom: 1px solid #CCC;
  display: flex;
}

nav a {
  padding: 5px 10px;
}

thead {
  background: #999;
}
tr:nth-child(2n) {
  background-color: #DDD;
}
td {
  padding: 5px;
}
