<h1>Binding</h1>

<h2> Interpolation </h2>
<!--
One-way
from view target
to data source
-->
<button (click)="toggleTitle()">Toggle title</button>
<!--
One-way
from data source
to view target
-->
<section class="code">
  <article>
    <code appHighlight [code]="templateTitleCode" language="html" [expanded]="true"></code>
  </article>
  <article>
    <h3>{{ title }}</h3>
    <h3 title="{{ title }}">{{ title }}</h3>
    <h3 [title]="title">{{ title }}</h3>
  </article>
</section>

<h2> Class </h2>
<section class="code">
  <article>
    <code appHighlight [code]="templateClassCode" language="html" [expanded]="true"></code>
  </article>
  <article>
    <div class="{{ className }}">
      classed div {{ className }}
    </div>
    <div [class]="className">
      classed div {{ className }}
    </div>
    <div [ngClass]="[className]">
      classed div {{ className }}
    </div>
    <div [ngClass]="className">
      classed div {{ className }}
    </div>
    <div [ngClass]="{block: true}">
      classed div {{ className }}
    </div>
  </article>
</section>


<h2> Style </h2>
<section class="code">
  <article>
    <code appHighlight [code]="templateStyleCode" language="html" [expanded]="true"></code>
  </article>
  <article>
    <button (click)="toggleColor()">Toggle Color</button>
    <!-- good syntax -->
    <div [style.backgroundColor]="color">
      Colored div {{ color }}
    </div>

    <div [ngStyle]="{backgroundColor: color}">
      Colored div {{ color }}
    </div>

    <div [ngStyle]="{backgroundColor: color}">
      Colored div {{ color }}
    </div>

    <div [ngStyle]="{'background-color': color}">
      Colored div {{ color }}
    </div>

    <!-- wrong syntaxe-->
    <div style="background-color: {{ color }}">
      WRONG Colored div {{ color }}
    </div>

  </article>
</section>


<h2>Pipes</h2>
<section class="code">
  <article>
    <code appHighlight [code]="templatePipeCode" language="html" [expanded]="true"></code>
  </article>
  <article>
    <ul>
      <li>DatePipe: {{ data.date | date}}</li>
      <li>UpperCasePipe: {{ data.text | uppercase}}</li>
      <li>LowerCasePipe: {{ data.text | lowercase}}</li>
      <li>CurrencyPipe: {{ data.amount | currency}}</li>
      <li>PercentPipe: {{ data.progress | percent }}</li>
      <li>JsonPipe: {{ data | json }}</li>
      <li>KeyvaluePipe: {{ data | keyvalue | json }}</li>
    </ul>
  </article>
</section>
